.app {
     /* Add app styles here */

    	
}

.attention .x-change-cell { 
	background-color: #ffe2e2 !important; 
	color: #900; 
}

.new-feature .x-change-cell { 
	background-color: #c2d7f9 !important; 
	color: #009; 
}  
	
	



